<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Giới thiệu</h1></div>

    <div class="pagenation">&nbsp;<%= link_to "Trang chủ", root_path %> <i>/</i> Giới thiệu</div>

  </div>
</div><!-- end page title -->


<div class="clearfix"></div>
<div class="content_fullwidth">
  <div class="container">

    <div class="one_half"><img src="<%= image_path("ab1.jpg") %>" alt="" class="img_size1" /></div><!-- end section -->

    <div class="one_half last">

      <h2 class="nocaps">ASTRONOMY - AIW Ruby on Rails Project</h2>

      <p>You build a website that provides the information about planets in the solar system, their images. You also provide the content
        about missions to those planets (Curiosity, Spirit to Mars...) with images, histories… The site is in Vietnamese</p><br>
      <p>Nhóm sẽ xây dựng một website cung cấp các thông tin về các hành tinh trong
        hệ mặt trời, hình ảnh của chúng. Nhóm cũng cung cấp nội dung
        về nhiệm vụ du hành đối với các hành tinh (Curiosity, Spirit to Mars...) với
        hình ảnh, lịch sử ... Trang web sử dụng tiếng Việt</p>

    </div><!-- end section -->


    <div class="clearfix divider_dashed2"></div><!-- end divider line -->


    <div class="one_half">

      <h2 class="ipages_title1"><strong>Group 8 - 5C 11</strong></h2>

      <p>Trong bài tập nhóm về chủ đề "Thiên văn học", nhóm chúng tôi gồm có 5 thành viên với mục tiêu hoàn thành
        trang Web với đầy đủ chức năng và nội dung phong phú. </p><br>
      <p>Vào tuần thứ 15, trang Web này phải được hoàn thành. Trước đó, nhóm phải phân chia công việc, thiết kế
        giao diện và cơ sở dữ liệu. Bài tập của từng thành viên sẽ được trao đổi, đóng góp và sửa trực tiếp trên git hub
        cũng như google docs. Cuối cùng với sự hướng dẫn của thầy giáo, trang Web sẽ hoạt động tốt với ngôn ngữ Ruby và
        Rails framework.</p>

    </div><!-- end section -->

    <div class="one_half last">

      <div class="pro_bar inner">

        <h5 class="nocaps">HTML & CSS</h5>
        <div id="progress_bar" class="ui-progress-bar ui-container">
          <div class="ui-progress"><span class="ui-label"><b class="value">73%</b></span></div>
        </div><!-- end section -->

        <br />

        <h5 class="nocaps">Javascript</h5>
        <div id="progress_bar2" class="ui-progress-bar ui-container">
          <div class="ui-progress two"><span class="ui-label"><b class="value">44%</b></span></div>
        </div><!-- end section -->

        <br />

        <h5 class="nocaps">MySQL</h5>
        <div id="progress_bar3" class="ui-progress-bar ui-container">
          <div class="ui-progress three"><span class="ui-label"><b class="value">57%</b></span></div>
        </div><!-- end section -->

        <br />

        <h5 class="nocaps">Ruby on Rails</h5>
        <div id="progress_bar4" class="ui-progress-bar ui-container">
          <div class="ui-progress four"><span class="ui-label"><b class="value">32%</b></span></div>
        </div><!-- end section -->

      </div>

    </div><!-- end section -->


    <div class="clearfix divider_dashed2"></div><!-- end divider line -->


    <div class="features_sec42 two">
      <div class="container">

        <h2 class="ipages_title1"><strong>Thành viên trong nhóm</strong></h2>
        <br />

        <div class="one_fifth">
          <div class="box">

            <img src="<%= image_path("man.png") %>" alt="" />

            <h4>Lê Minh Dương</h4>
            <h6 class="nocaps">Nhóm trưởng</h6>

            <p>Nhóm trưởng chịu trách nhiệm về phân công công việc nhóm, duyệt bài và đảm bảo tiến độ công việc.</p>
            <br />
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

          </div>
        </div><!-- end section -->

        <div class="one_fifth">
          <div class="box">

            <img src="<%= image_path("woman.png") %>" alt="" />

            <h4>Trịnh Thị An</h4>
            <h6 class="nocaps">Thành viên</h6>

            <p>Chịu trách nhiệm về nội dung, viết báo cáo cũng như cơ sở dữ liệu.</p>
            <br />
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

          </div>
        </div><!-- end section -->

        <div class="one_fifth">
          <div class="box">

            <img src="<%= image_path("woman.png") %>" alt="" />

            <h4>Đỗ Thị Phương Thúy</h4>
            <h6 class="nocaps">Thành viên</h6>

            <p>Chịu trách nhiệm về backend, cơ sở dữ liệu</p>
            <br />
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

          </div>
        </div><!-- end section -->

        <div class="one_fifth">
          <div class="box">

            <img src="<%= image_path("woman.png") %>" alt="" />

            <h4>Nguyễn Thị Diệu Linh</h4>
            <h6 class="nocaps">Thành viên</h6>

            <p>Chịu trách nhiệm về frontend, thiết kế giao diện</p>
            <br />
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

          </div>
        </div><!-- end section -->

        <div class="one_fifth last">
          <div class="box">

            <img src="<%= image_path("woman.png") %>" alt="" />

            <h4>Đỗ Thị Cúc</h4>
            <h6 class="nocaps">Thành viên</h6>

            <p>Chịu trách nhiệm về thu thập thông tin</p>
            <br />
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

          </div>
        </div><!-- end section -->
      </div>
    </div><!-- end team section -->



  </div>
</div>

<div class="clearfix margin_top5"></div>