<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Bài viết</h1></div>

    <div class="pagenation">&nbsp;<%= link_to "Trang chủ", root_path %>  <i>/</i> <%= link_to "Tin tức", home_news_path %> <i>/</i></div>

  </div>
</div><!-- end page title -->


<div class="clearfix"></div>

<div class="container">

<div class="content_left">

  <div class="blog_post">
    <div class="blog_postcontent">
      <!--<a href="#" class="date"><strong>18</strong><i>Tháng 11</i></a>-->
      <h3><a href="#"><%= @details[0].name %></a></h3>


      <div class="post_info_content">
        <%= @details[0].description.html_safe %>
        <br>
      </div>
    </div>
  </div><!-- /# end post -->

  <div class="clearfix divider_dashed9"></div>


  <div class="sharepost">
    <h4>Chia sẻ bài viết</h4>
    <ul>
      <li><a href="#">&nbsp;<i class="fa fa-facebook fa-lg"></i>&nbsp;</a></li>
      <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
      <li><a href="#"><i class="fa fa-tumblr fa-lg"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
    </ul>

  </div><!-- end share post links -->


  <div class="clearfix margin_top5"></div>

  <div class="one_half">
    <div class="popular-posts-area">
      <h4>Bài viết mới nhất</h4>
      <ul class="recent_posts_list">
        <% @news.each do |news_post| %>
            <li>
              <span><a href="#"><img src="<%= news_post.images.first.attachment_url %>" alt="" width="50" height="50"/></a></span>
              <%=link_to news_post.title, home_news_post_path(news_post.id) %>
              <i><%= news_post.created_at %></i>
            </li>
        <% end %>
      </ul>

    </div>
  </div><!-- end recent posts -->


  <div class="one_half last">
    <div class="popular-posts-area">
      <h4>Bài đọc nhiều nhất</h4>
      <ul class="recent_posts_list">
        <li>
          <span><a href="#"><img src="<%= image_path("blog/4.JPG") %>" alt="" width="50" height="50"/></a></span>
          <a href="#">20 ngôi sao sáng nhất bầu trời đêm</a>
          <i>15 Tháng 9, 2014</i>
        </li>

        <li>
          <span><a href="#"><img src="<%= image_path("blog/5.JPG") %>" alt="" width="50" height="50"/></a></span>
          <a href="#">Hình thành và tiến hóa của sự sống trên Trái Đất</a>
          <i>14 Tháng 11, 2014</i>
        </li>

        <li>
          <span><a href="#"><img src="<%= image_path("blog/6.JPG") %>" alt="" width="50" height="50"/></a></span>
          <a href="#">Tự làm kính thiên văn phản xạ</a>
          <i>10 Tháng 10, 2014</i>
        </li>
      </ul>

    </div>
  </div><!-- end popular posts -->

  <div class="clearfix divider_dashed9"></div>

  <div class="comment_form">

    <h4>Ý kiến của bạn</h4>

    <form action="#" method="post">
      <% if user_signed_in? %>
          <a href="#"></a><i><%= current_user.email %></i></a>
          <textarea name="comment" class="comment_textarea_bg" rows="5"></textarea>
          <div class="clearfix"></div>
          <input name="send" type="submit" value="Gửi đi" class="comment_submit"/>
          <p></p>
          <p class="comment_checkbox"><input type="checkbox" name="check" /> Gửi thông báo cho tôi qua email.</p>
      <% else %>
          <p>Bạn có muốn đăng nhập? <%= link_to 'Login', new_user_session_path %></p>
          <input type="text" name="yourname" id="name" class="comment_input_bg" />
          <label for="name">Tên*</label>

          <input type="text" name="email" id="mail" class="comment_input_bg" />
          <label for="mail">Email*</label>

          <textarea name="comment" class="comment_textarea_bg" rows="5" ></textarea>
          <div class="clearfix"></div>
          <input name="send" type="submit" value="Gửi đi" class="comment_submit"/>
          <p></p>
          <p class="comment_checkbox"><input type="checkbox" name="check" /> Gửi thông báo cho tôi qua email.</p>
      <% end %>


    </form>

  </div><!-- end comment form -->

  <div class="clearfix mar_top2"></div>

</div><!-- end content left side -->

<!-- right sidebar starts -->
<div class="right_sidebar">

<div class="site-search-area">

  <form method="get" id="site-searchform" action="#">
    <div>
      <input class="input-text" name="s" id="s" value="Tìm kiếm từ khóa..." onFocus="if (this.value == 'Enter Search keywords...') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Enter Search keywords...';}" type="text" />
      <input id="searchsubmit" value="Search" type="submit" />
    </div>
  </form>

</div><!-- end site search -->

<div class="clearfix margin_top4"></div>

<div class="sidebar_widget">

  <div class="sidebar_title"><h3>Tin tức</h3></div>
  <ul class="arrows_list1">
    <li><i class="fa fa-angle-right"></i><%= link_to "Nhiệm vụ thăm dò", home_mission_path %></li>
    <li><i class="fa fa-angle-right"></i><%= link_to "Thiên văn thế giới", home_astroTg_path %></li>
    <li><i class="fa fa-angle-right"></i><%= link_to "Thiên văn Việt Nam", home_astroVn_path %></li>
  </ul>

</div><!-- end section -->

<div class="clearfix margin_top4"></div>

<div class="sidebar_widget">

  <div id="tabs">

    <ul class="tabs">
      <li class="active"><a href="#tab1" class="tab_item">Phổ biến</a></li>
      <li><a href="#tab2" class="tab_item">Mới nhất</a></li>
      <li class="last"><a href="#tab3" class="tab_item">Từ khóa</a></li>
    </ul><!-- /# end tab links -->

    <div class="tab_container">
      <div id="tab1" class="tab_content">

        <ul class="recent_posts_list">
          <li>
            <span><a href="#"><img src="<%= image_path("news/b1.PNG") %>" alt="" width="50" height="50" /></a></span>
            <a href="#">Tinh vân Helix trong màu sắc mới</a>
            <i>20 Tháng mười một, 2014</i>
          </li>
          <li>
            <span><a href="#"><img src="<%= image_path("news/b2.PNG") %>" alt="" width="50" height="50" /></a></span>
            <a href="#">Lỗ đen vũ trụ hình thành như thế nào?</a>
            <i>14 Tháng mười, 2014</i>
          </li>
          <li class="last">
            <span><a href="#"><img src="<%= image_path("news/b3.PNG") %>" alt="" width="50" height="50" /></a></span>
            <a href="#">Trong một năm xảy ra bao nhiêu lần nhật thực và nguyệt thực?</a>
            <i>9 Tháng chín, 2014</i>
          </li>
        </ul>

      </div><!-- end popular posts -->

      <div id="tab2" class="tab_content">
        <ul class="recent_posts_list">
          <% @news.each do |news_post| %>
              <li>
                <span><a href="#"><img src="<%= news_post.images.first.attachment_url %>" alt="" width="50" height="50"/></a></span>
                <%=link_to news_post.title, home_news_post_path(news_post.id)%>
                <i><%= news_post.created_at %></i>
              </li>
          <% end %>
        </ul>

      </div><!-- end popular articles -->

      <div id="tab3" class="tab_content">
        <ul class="tags">
          <li><a href="#">Ánh sáng</a></li>
          <li><a href="#">Bề mặt</a></li>
          <li><a href="#">Bí ẩn</a></li>
          <li><a href="#">Chòm sao</a></li>
          <li><a href="#">Dải ngân hà</a></li>
          <li><a href="#">Đài quan sát</a></li>
          <li><a href="#">Hành tinh</a></li>
          <li><a href="#">Hệ Mặt Trời</a></li>
          <li><a href="#">Hiện tượng</a></li>
          <li><a href="#">Khoa học</a></li>
          <li><a href="#">Kính thiên văn</a></li>
          <li><a href="#">Mặt Trăng</a></li>
          <li><a href="#">Mặt Trời</a></li>
          <li><a href="#">NASA</a></li>
          <li><a href="#">Ngôi sao</a></li>
          <li><a href="#">Nhà thiên văn</a></li>
          <li><a href="#">Quan sát</a></li>
          <li><a href="#">Sao chổi</a></li>
        </ul>
      </div>

    </div>

  </div>

</div><!-- end section -->

<div class="clearfix margin_top5"></div>

<div class="sidebar_widget">

  <div class="sidebar_title"><h3>Ảnh đẹp trong tuần</h3></div>

  <div class="features_sec15 two">

    <div>
      <section class="slider nosidearrows">
        <div class="flexslider carousel">

          <ul class="slides">

            <li>

              <div class="grid-container cbp-l-grid-fullScreen sidebar">
                <ul>
                  <li class="cbp-item identity logo"> <a href="#" class="cbp-caption cbp-lightbox" data-title="Mưa sao băng Geminids">
                    <div class="cbp-caption-defaultWrap"><img src="<%= image_path("home/pheno4.jpg") %>" alt="" /> </div>
                    <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                          <div class="margin_top7"></div>
                          <div class="cbp-l-caption-title">Mưa sao băng Geminids</div>
                          <div class="cbp-l-caption-desc">Đây là trận mưa sao băng lớn nhất, nó có thể cho phép người quan sát đếm được trên 100 sao băng mỗi giờ.</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  </li>
                </ul>
              </div>

            </li><!-- end section -->

            <li>

              <div class="grid-container cbp-l-grid-fullScreen sidebar">
                <ul>
                  <li class="cbp-item"> <a href="#" class="cbp-caption cbp-lightbox" data-title="Hiện tượng cực quang">
                    <div class="cbp-caption-defaultWrap"> <img src="<%= image_path("home/pheno5.jpg") %>" alt="" /></div>
                    <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                          <div class="margin_top7"></div>
                          <div class="cbp-l-caption-title">Hiện tượng cực quang</div>
                          <div class="cbp-l-caption-desc">Cuộc gặp gỡ vô cùng thân mật của hai hành tinh sáng nhất trong bầu trời: sao Kim và sao Mộc.</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  </li>
                </ul>
              </div>

            </li><!-- end section -->


            <li>

              <div class="grid-container cbp-l-grid-fullScreen sidebar">
                <ul>
                  <li class="cbp-item motion graphic"> <a href="#" class="cbp-caption cbp-lightbox" data-title="Sao chổi Ison">
                    <div class="cbp-caption-defaultWrap"> <img src="<%= image_path("home/pheno6.jpg") %>" alt="" /> </div>
                    <div class="cbp-caption-activeWrap">
                      <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                          <div class="margin_top7"></div>
                          <div class="cbp-l-caption-title">Sao chổi Ison</div>
                          <div class="cbp-l-caption-desc">Sao chổi thế kỉ Ison chạm trán với mặt trời.</div>
                        </div>
                      </div>
                    </div>
                  </a>
                  </li>
                </ul>
              </div>

            </li><!-- end section -->

          </ul>
        </div>
      </section>

    </div>

  </div>

</div><!-- end section -->

<div class="clearfix margin_top4"></div>
</div><!-- end right sidebar -->

</div>


<div class="clearfix margin_top7"></div>