
<!-- Content
======================================= -->

<div class="page_title2">
  <div class="container">

    <div class="title"><h1>Tin tức</h1></div>

    <div class="pagenation">&nbsp;<a href="index.html">Trang chủ</a> <i>/</i> Tin tức</div>

  </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="features_sec3">
  <div class="container">

    <h2 class="section_title_drakgray"><strong>Tin tức</strong></h2>

    <div class="one_fourth">
      <div class="boxsec">

        <img src="<%= image_path("icon/icon-1.png") %>" alt="" />

        <h3>Nhiệm vụ thăm dò</h3>

        <p>Tìm hiểu các thông tin về nhiệm vụ thăm dò hành tinh, không gian và vũ trụ ...</p>

      </div>
      <%= link_to "Xem thêm", home_mission_path, :class=>"readmore_but2" %>
    </div><!-- end section -->

    <div class="one_fourth">
      <div class="boxsec">

        <img src="<%= image_path("icon/icon-2.png") %>" alt="" />

        <h3>Thiên văn thế giới</h3>

        <p>Tổng hợp các bài viết hay và mới nhất về tin tức thiên văn trên thế giới ...</p>

      </div>
      <%= link_to "Xem thêm", home_astroTg_path, :class=>"readmore_but2" %>
    </div><!-- end section -->

    <div class="one_fourth">
      <div class="boxsec">

        <img src="<%= image_path("icon/icon-3.png") %>" alt="" />

        <h3>Thiên văn Việt Nam</h3>

        <p>Tổng hợp các bài viết hay và mới nhất về tin tức thiên văn tại Việt Nam ...</p>

      </div>
      <%= link_to "Xem thêm", home_astroVn_path, :class=>"readmore_but2" %>
    </div><!-- end section -->

    <div class="one_fourth last">
      <div class="boxsec">

        <img src="<%= image_path("icon/icon-4.png") %>" alt="" />

        <h3>Sự kiện & Hoạt động</h3>

        <p>Liên tục cập nhật những sự kiện và hoạt động đặc sắc, nổi bật về thiên văn học...</p>

      </div>
      <a href="#" class="readmore_but2">Xem thêm</a>
    </div><!-- end section -->

  </div>
</div><!-- end features section3 -->

<div class="clearfix margin_top4"></div>